<html>
    <head>
        <title>  Alex Resume</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel='stylesheet' href='/stylesheets/style.css' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Tenali+Ramakrishna" rel="stylesheet">
        <script src="https://use.fontawesome.com/28342c2ac4.js"></script>
        <link rel="icon" type="image/vnd.microsoft.icon"
     href="https://d30y9cdsu7xlg0.cloudfront.net/png/8205-200.png" />
    </head>
<body>
    <ul>
        <div class='container-fluid'>
          <li class='menuspace spaceleft'><a href="/">About me <br><span class="iconleft glyphicon glyphicon-user" aria-hidden="true"> </span></a></li>
        </div>
        <div class='container-fluid'>
          <li class='spacetop spaceleft'><a href="experience">Experience <br><span class="iconleft glyphicon glyphicon-lock" aria-hidden="true"> </span> </a></li>
        </div>  
        <div class='container-fluid'>
          <li class='spacetop spaceleft'><a href="education">Education <br><span class="iconleft glyphicon glyphicon-education" aria-hidden="true"> </span> </a></li>
        </div>
        <div class='container-fluid'>
          <li class='spacetop spaceleft'><a href="blog">Personal Blog <br><span class="iconleft glyphicon glyphicon-book" aria-hidden="true"> </span> </a></li>
        </div>
        <div id='fixedbutton'></div>
            <a href='https://twitter.com/_AlexLuu'class="btn btn-social-icon btn-twitter fa-2x " style='bottom:1%;'>
        <span class="fa fa-twitter"></span>
            </a>
            <a href='https://www.facebook.com/a.lexluuu' class="btn btn-social-icon btn-facebook fa-2x" style='bottom:1%; left:6%';>
        <span class="fa fa-facebook"></span>
            </a>
            <a href='https://www.linkedin.com/in/alex-luu-b2b879121/' class="btn btn-social-icon btn-linkedin fa-2x" style='bottom:1%;left:3%;color:black;'>
        <span class="fa fa-linkedin"></span>
            </a>
        </div>
        </ul>
    
    
    

        <div class='name jumbotron'>
            <h1> Alex Luu  </h1>
            
            <p class='center'> Web Developer | Student | Toronto, Ontario</p>
            <p class='center' id='small'> Learning new things everyday for a goal </p>
    
        </div>
        
        
        
        
        
        
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>