<html>
    <head>
        <title>  Alex Resume</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel='stylesheet' href='/stylesheets/style.css' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Tenali+Ramakrishna" rel="stylesheet">
        <script src="https://use.fontawesome.com/28342c2ac4.js"></script>
    </head>
<body>
    <ul>
      <li class='menuspace font-one spaceleft'><a href="default.asp">About me <br><span class="iconleft glyphicon glyphicon-user" aria-hidden="true"> </span></a></li>
      
      <li class='spacetop spaceleft font-one'><a href="news.asp">Experience <br><span class="iconleft glyphicon glyphicon-lock" aria-hidden="true"> </span> </a></li>
      <li class='spacetop spaceleft font-one'><a href="contact.asp">Education <br><span class="iconleft glyphicon glyphicon-education" aria-hidden="true"> </span> </a></li>
      <li class='spacetop spaceleft font-one'><a href="about.asp">Personal Blog <br><span class="iconleft glyphicon glyphicon-book" aria-hidden="true"> </span> </a></li>
        
        <div class='menu-items'></div>
            <a href='https://twitter.com/_AlexLuu'class="btn btn-social-icon btn-twitter fa-2x ">
        <span class="fa fa-twitter"></span>
            </a>
            <a href='https://www.facebook.com/a.lexluuu' class="btn btn-social-icon btn-facebook fa-2x">
        <span class="fa fa-facebook"></span>
            </a>
            <a href='https://www.linkedin.com/in/alex-luu-b2b879121/' class="btn btn-social-icon btn-linkedin fa-2x">
        <span class="fa fa-linkedin"></span>
            </a>
        </div>
        </ul>
    
    
    
    <div class='container-fluid'>
        <div class='name jumbotron'>
            <h1> Alex Luu</h1>
            <p class='center'> Web Developer | Student | Toronto, Ontario</p>
            <p class='center' id='small'> Learning new things everyday for a goal </p>
    
        </div>
    </div>