<% include partials/header %>


<div class='row'>
  <div class='container col-md-5'>
  </div>
  
  <div class='container col-md-4'>
      <a class="btn btn-social-icon btn-github" href='https://github.com/luu-alex'>
        <span class="fa fa-github fa-5x"></span>
              <p> Github</p>
      </a>

  </div>
</div>
<div class='row ' id='ctrlsize'>
  <div class='jumbotron limit'>
  <p> Hello! My name is Alex and I study computer science at the University of Toronto. I am a second year student who enjoys a relaxing with my guitar, listening to music.
  I have experience using NodeJS, Javascript, HTML, CSS and Python. I dived into coding this for my interest in computer science and to have a taste of web developement,
  creating and testing out ideas! </p>
 
 </div>
</div>




<% include partials/footer %>