<% include partials/header %>


<div class="row paddingleft" >
    <div class='container-fluid'>
    
    
          <div class="col-md-4">
                  <div class="jumbotron smaller">
                      <p> About me </p>
                  </div>
                  <div class="jumbotron descrip">
                      <p> I am a student who goes to the University of Toronto, I like to code, play guitar. I have two dogs! </p>
                  </div>
              </div>
              
              <div class="col-md-2">
                  
        
               </div>
        
              <div class="col-md-2">
                  <div class="jumbotron smaller">
                      <p> Experience</p>
                  </div>
        
               </div>
               <div class="col-md-2">
                   <div class="jumbotron smaller">
                      
                  <p> Education</p>
                  </div>
               </div>
                   

    </div>   
</div>




<% include partials/footer %>