<% include partials/header %>


<div class='row'>
  <div class='container col-md-5'>
  </div>
  
  <div class='container col-md-4'>
      <a class="btn btn-social-icon btn-github" href='https://github.com/luu-alex'>
        <span class="fa fa-github fa-5x"></span>
              <p> Github</p>
      </a>

  </div>
</div>
<div class='row ' id='ctrlsize'>
  <div class='jumbotron limit'>
  <p> Hello! My name is Alex and I go to the University of Toronto, I like to code, play guitar, love listening to music and I have two dogs!
  I have experience using NodeJS, Javascript, HTML, CSS and Python. I dived into coding this for my interest in 
  creating and testing out ideas for my site! </p>
 
 </div>
</div>




<% include partials/footer %>