<html>
    <head>
        <title>  Alex Resume</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel='stylesheet' href='/stylesheets/style.css' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Tenali+Ramakrishna" rel="stylesheet">
        <script src="https://use.fontawesome.com/28342c2ac4.js"></script>
        <link rel="icon" type="image/vnd.microsoft.icon"
     href="https://d30y9cdsu7xlg0.cloudfront.net/png/8205-200.png" />
    </head>
<body>
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-lg-2' style='border:1px solid purple;'>COL LG 2</div>
      <div class='col-lg-8'>COL LG 8</div>
      <div class='col-lg-2'>COL LG 2</div>
    </div>
  </div>