<% include partials/slashheader %>
    <div class='intro'>
    <img src='https://upload.wikimedia.org/wikipedia/commons/4/41/SEGA_logo.png' id='logo'> 
    <img src='http://www.freeiconspng.com/uploads/information-icon-3.png' id='info'>
    </div>
    <div class='firstblock container-fluid'>
        <h1 class='title'> The SlashWorkers</h1>
        <p class='firstp'> The future of independent work will be led by an emerging class of intrepid
        professionals who have rewritten the definition of freelance. This study gives us the insights.</p>
        
            <div class='container'>
                <div class='item'>
                    <p class='video' id='nohover'>
                        <a href='#team' class='page-scroll' ><span class="glyphicon glyphicon-film " aria-hidden="true"></span> Play Video </a>
                    </p>
                </div>
            </div>
        <p class='shorttext' > Scroll to start</p>
    </div>
    <div class='container container2'>
        <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
        
    </div>
    <div class='row'>
        <div id='team'>
 
        </class>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" integrity="sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb" crossorigin="anonymous"></script>
    <script src="/scripts/scroll.js"></script>