<% include partials/dheader %>


<div class='jumbotron' id='jumbo'>
    <div class='bg'>
        
    </div>
    <div class='content style1' id='font' >
        <h1 >Hi i'm Alex Luu!</h1>
        <p> University of Toronto Class of 2020</p>
        
    </div>
</div>
<div class='row'>
    <div class='col-md-3'>
    </div>
    
    <div class='col-md-3'> <a onClick="document.querySelector('#about').scrollIntoView({ 
  behavior: 'smooth'});"><h2 style='color:black;font-weight:bold;font-size:40;text-decoration-color:black;'> About me </h2> </a> </div>
    <div class='col-md-3'>
    </div>
    <div class='col-md-3'> <a onClick="document.getElementById('contact').scrollIntoView();"><h2 style='color:black;font-weight:bold;font-size:40;text-decoration-color:black;'> Contact </h2> </a> </div>

</div>
<div id='about'>
    <h1 id='font' > About.</h1>
    <p class='paragraph'> I reside live in Toronto, Ontario </p>
    <p class='paragraph'> I am a Member of The Math and Computer Science Society </p>
    <p class='paragraph'> Hackathons Attended: UofTHacks </p>
    <p class='paragraph'>Profiency: Javascript, HTML, CSS, Python </p>
    <div class='jumbotron' id='jumbo'>
        <div class='bg2'>
            
        </div>
    </div>
</div>


<h1 id='contact'> Contact me</h1>
<p class='paragraph'> I love people, let me know what you're thinking</p>
<br> <br> <br> <br> <br> <br> <br> <br>
         <i class="fa fa-twitter fa-5x" aria-hidden="true"></i> 
         <i class="fa fa-facebook fa-5x" aria-hidden="true"></i> 
         <i class="fa fa-github fa-5x" aria-hidden="true"></i> 
         <i class="fa fa-linkedin fa-5x" aria-hidden="true"></i> 
        
<div class='jumbotron' id='jumbo'>
    <div class='bg3'>
    </div>
       
    </div>
<script>
