h1 {
    text-align:center;
    font-family: 'Oswald', sans-serif;
}
.smaller {
    padding: 24;
}
body {
    background-color:white;
    background: url('') repeat;
    overflow:hidden;
    
}

.smaller{
    background-color:#b98091;
}
.descrip{
    background-color:#8091b9;
}

.menuspace {
    padding-top:150%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 9%;
    min-width: 125;
    background-color: white;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    border-right:solid;
    border-bottom:solid;
    border-width:1px;
    color:gray;
}

li {
    font-family: 'Oswald';
    border-bottom:gray Solid 2px;
    font-size:1.3em;
    
    
    
}
p {
    font-family: 'Oswald', sans-serif;
}
.spacetop {
    padding-top: 30%;
    
}
.spaceleft{
    padding-left: 15%;
}


#fixedbutton {
    bottom:0px;
    
    vertical-align: middle;
}

#ctrlsize {
    font-size:20;
}



.iconleft {
    padding-left:20;
    
}
.jumbotron{
    padding-left:10%;
}

.menu-items {
    padding-top:150%;
}

.row{
    padding-left:200;
}
.centre {
    padding-left:20%;
}
.center {
 text-align:center;   
}

.limit {
    padding-top:10%;
    width:80%;
    background-color:white;
}

.btn {
    position:fixed;
}

.marginp {
    margin:30%;
}

.paddingp {
    padding:10%;
    background-color:blue;
}