body {
    padding-top:50px;
}

#background {
    background-color:#0f1a26;
    
}
#logo {
    float:left;
    width:95px;
    height:47px;
}
.intro {
    padding: 0px 39px 0px 39px;
}

#info {
    right:30;
    width:75px;
    height:75px;
    position:fixed;
}
.firstblock {
    padding:200px 30px 0px 30px;
    height:500px;
}
.title{
    color:white;
    text-align:center;
    font-size:5em;
}
.firstp {
    text-align:center;
    font-size:1.5em;
    color:white;
}
.video {
    font-size:50px;
    color:white;
    
}
.item {
    display:block;
    text-align:center;
}
.video:hover {
    color:#D82525;
    
    
}

.shorttext {
    color:white;
    text-align:center;
    font-size:1em;
    
}

.container2 {
    height:650;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

.nopad {
    padding:0;
}